<!doctype html>
<html lang="en">
<head>
    <%- include('./patrials/head');%>
</head>
<body>
<%- include('./patrials/navbar');%>
<div class="container">
    <div>Main page</div>
</div>

</body>
</html>